<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0 with-padding-15">
        <h1 class="text-lg font-medium leading-6 text-gray-900 animate__animated animate__rubberBand">{{title}}</h1>
        <p class="mt-1 text-sm text-gray-600">
          Find recipes by ingredients or direct query
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form #browser="ngForm" (ngSubmit)="onSubmit()">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="ingredients" class="block text-sm font-medium text-gray-700">Ingredients (comma separated):</label>
                <input type="text" [(ngModel)]="model.ingredients" name="ingredients" id="ingredients" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="query" class="block text-sm font-medium text-gray-700">Query :</label>
                <input type="text" [(ngModel)]="model.query" name="query" id="query" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" [disabled]="!model.ingredients && !model.query" class="">
              Search
            </button>
            <button type="reset" class="cleaner" (click)="cleanData()" [disabled]="!model.ingredients && !model.query">Clean data</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
